@media(min-width: 320px){
    
    .email span {
        background-color: #2ac96f;
        font-family: sans-serif;
        font-size: 20px;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 0 15px 15px 0;
    }
    
    .icones {
        display: flex;
        justify-content:flex-start;
        padding: 0 25px;
    }
    .icones div{
        margin: 0 5px;
    }

    .icones a:hover {
        background-color: #2acd70;
    }

    .icones_menu div{
       display: flex;
       flex-direction: column;
    }


    aside {
        grid-area: aside;
        background-color: #e3e3e3;
        height: 350px;
    }
    aside p {
        color: #8f8f8f;
    }
    
    
    body {
        margin: 0;
        display: grid;
        grid-template-areas: 'nav'
                             'header'
                             'main'
                             'aside'
                             'section'
                             'footer';
        grid-template-columns: 100vw;
    }

    body p{
        width: 300px;
    }
    
    body::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }

    footer {
        background-color: #e3e3e3;
        grid-area: footer;
        display: flex;
        justify-content: flex-start;
    }
    
    footer p{
        padding: 10px;
    }
    
    header {
        background-image: url("../images/banner.png");
        background-size: cover;
        background-position: center;
        grid-area: header;
        height: 200px;
        /* width: 310px; */
    }
    
    header .icones img {
        display: flex;
        background-color: black;
        opacity: 0.5;
        padding: 3px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    header h1 {
        font-family: 'Pacifico', cursive;
        color:  #ffffff;
        padding: 0 25px;
    }

    header h1 span {
        color: #2acd70;
    }

    header p {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 17px;
        padding: 0 25px;
    }
    
    main {
        grid-area: main;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
    }

    main .icones_menu {
        margin-top: 30px;
    }

    main .icones_menu img{
        padding: 15px;
        background-color: #2ac96f;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    main .icones_menu p {
        color: #8f8f8f;
        font-size: 15px;
    }

    main .icones_menu h2{
        font-size: 18px;
        width: 200px;
    }

    nav {
        grid-area: nav;
        margin-top: 0;
        background-color: #2ac96f;
        height: 7px;
        /* width: 310px; */
    }

    section {
        grid-area: section;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    section p{
        text-align: center;
        width: 250px;
        /* display: block; */
    }
}


@media(min-width: 425px){

}

@media(min-width:768px) {
    main .icones_menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}


@media(min-width: 1024px){

}


@media(min-width: 1440px){

}