/*  leia pra rir ou deixe um frase aleatória    clique nos pontinho ----> 

            Notify do hell
    
    FÉ NO PAI QUE O INMIGO CAI
    A maior derrota é nem tentar!

    To fazendo na base do ódio, porém estou calmo!
    **A maior derrota é acreditar que é capaz "indiano" :(
    Meu café é minha vida e fod@... o sono
    quem não tem olheira nem é porgramador
    gosto de miojo por causa do caldinho de cancer
    Na moral to com tanto interesse em aprender que fiquei desinteressado em mim interessa em ter interesse de aprender 
    */


/*códigos comentados no tamanho de 320px*/
@media(min-width: 320px){
    
    /* Coloquei o body aqui para ficar melhor de visualizar o site e saber onde estar cada parte */ 

    body {
        margin: 0;
        display: grid;
        grid-template-areas: 
        'nav'
        'header'
        'main'
        'aside'
        'article'
        'figure'
        'section'
        'footer'
        'rodape';
        grid-template-columns: 100vw;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        /* align-items: center;x */
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    /* ========================================================================================= */

    
    /* configuração que afeta todos itens realcionados */
    
    body a{
        text-decoration: none;
        color: #a5a5a5;
    }
    
    body p{
        color: #8f8f8f;
        font-size: 16px;
        margin: 15px 15px;
    }
    
    body h2{
        justify-content: center;
        
    }
    /*Remove a barra de corre lateral do navegador*/
    body::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }

    /*==============================================================  */


    
    .conteudo > div:nth-child(3){
        display: grid;
        grid-template-columns: repeat(4, 1f);
        
    }
    
    .email span {
        background-color: #2ac96f;
        font-family: sans-serif;
        color: white;
        border-radius: 0 15px 15px 0;
        padding: 12px 20px 12px 20px;
        font: 550 22px sans-serif;
    }
    
    
    .icones {
        display: flex;
        /* padding: 5px 60px 5px 25px; */
        margin: 0px 130px 5px 15px;
        justify-content: space-evenly;
    }

    .rodape{
        grid-area: rodape;
        background: #2ac96f;
        height: 7px;
        margin-block-end: 0px;

    }


    .email input{
        border-radius: 10px 0 0 10px;
        padding: 10px;
        font: 100 15px sans-serif;
        border-style: ridge;
        border-width: 2px;
    }

    
    .twitter, .facebook, .pinter, .googlepl, .linkedin, .youtube {
        width: 20px;
        margin: 5px;
        display: flex;
    }           
    
    article{
        grid-area: article;
        
    }
    
    aside {
        grid-area: aside;
        background-color: #e3e3e3;
        margin-top: 20px;
    }


    .email{
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        border-radius: 50%;
    }

    aside div:nth-child(4){
        padding:56.25% 0 0 0;
        position:relative;
        margin: 0 0 10px;
    }

    
    iframe{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border-radius: 3%;
    }

    figure{
        display: flex;
        overflow: scroll;
        justify-content: space-between;
        margin: 0px 20px;
    }
    figure::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }

    figure div{
        margin: 0 3px;
    }


    footer{
        background-color: #e3e3e3;
        padding: 1fr;
        grid-area: footer;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-weight: bold;
     }
    
    footer a{
        margin-top: 10px;
    }
    
    footer > div:nth-child(n+1){
        display: grid;
        align-items: center;
        margin: 10px;
    }
    
    header {
        background-image: url("../images/banner.png");
        background-size: cover;
        background-position: center;
        grid-area: header;
    }
    
    
    header .icones img {
        display: flex;
        opacity: 0.7;
        /* padding: 3px;
        border-radius: 50%; */
        width: 23px;
        height: 23px;
    }
    

    header h1 {
        font-family: 'Pacifico', cursive;
        color:  #ffffff;
        /* padding: 0 25px 0 0; */
        display: flex;
        margin-left: 30px;
    }

    header h1 span {
        color: #2acd70;
    }

    header .texto {
        color: #ffffff;
        font-weight: bold;
        font-size: 17px;
        margin: 5px 15px 0 20px;
        text-align: start;
    }
 
    .icones .border {
        background-color: black;
        padding: 9px;
        border-radius: 50%;
        opacity: 0.7;
    }

    .border:hover{
        background-color: #2ac96f;
        opacity: 1;
    }
    
    header div{
        display: none;
    }

    main {
        grid-area: main;
        flex-direction: column;
    }

    main h2{
        margin: 5px;
    }

    main p{
        margin: 0;
    }
    
    main img{
        background-color: #2ac96f;
        padding: 15px;
        margin-top: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    nav {
        grid-area: nav;
        background-color: #2ac96f;
        height: 7px;
    }

    section{
        grid-area: section;
    }
    
    
    .redes{
        display: flex;
        margin: 7px 15px;
        justify-content: center;
    }
    
    section .logos{
        background-color: #8f8f8f;
        border-radius: 50%;
        padding: 4px;
        opacity: 0.7;
        margin: 0 auto;
    }


 /*fim media320px*/
}

/* Acho que não vai precisa nesse tamnho pq ele ajusta sozinho */
/* @media(min-width: 530px){
    
} */



@media(min-width: 375px){
    .icones{
        justify-content: flex-start;
    }

 /*fim media375px*/
}


@media(min-width: 500px){

    .email{
        margin-bottom: 30px;
    }

    .icones_main2 h2{
         margin-top: 20px;
    }
 
    .icones_main2 p:nth-child(3){
         margin-top: 30px;
    }

    article{
        margin-top: 20px;
    }

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    main p{
        margin: 10px 5px;
    }
    
    main h2{
        margin: 10px 5px;
    }

    section .logos{
        margin: 10px 10px;
    }

/*fim media500px*/
}
/* ======================================================== */


@media(min-width: 564px){

    .icones_main1 h2{
        margin-top: 20px;
   }

    .icones_main1 p:nth-child(3){
        margin-top: 30px;
    }


    footer{
        grid-column: 1/3;
        justify-content: center;
        display: flex;
        height: 70px;
        font-weight: bold;
    }

    
    footer > div:nth-child(n+1){
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
    }

    footer div a{
        margin: 0 20px;
    }


/*fim media564px*/
}

@media(min-width: 660px){


}


@media(min-width:762px) {

    body {
        margin: 0;
        display: grid;
        grid-template-areas: 
/*1 */         'nav'      'nav'
/*2 */         'header'   'header'
/*3 */         'main'     'main'
/*4 */         'aside'    'aside'
/*5 */         'article'  'article'
/*6 */         'figure'   'figure'
/*7 */         'section'  'section'
/*8 */         'footer'   'footer'
/*9 */         'rodape'   'rodape';
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 8px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    
    article{
        grid-column: 1/3;
        grid-row: 5;
    }

    aside{
        display: flex;
        grid-column: 1/3;
        grid-row: 4;
        background-color: #e3e3e3;
    }

    .info:nth-child(1/2){
        grid-column: 1;
    }

    .info:nth-child(3){
        grid-column: 2/3;
    }

/* 
    aside a img {
        height: 100%;
        width: 75%;
        border-radius: 20%;
        cursor: pointer;
        margin: auto; 
    } */

    aside .email span {
        background-color: #2ac96f;
        font-family: sans-serif;
        color: white;
        border-radius: 0 15px 15px 0;
        padding: 12px 20px 12px 20px;
        font: 550 22px sans-serif;
        cursor: pointer;
    }
/* 
    aside .video {
        text-align: end;
    } */
/* 
    aside .info {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: justify;
    } */

    figure{
        grid-column: 1/3;
        grid-row: 6;
        margin: 0 auto;
        width: 75%;        
    }

    figure div{
        margin: 0px;
    }

    figure::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }

    footer{
        height: 100px;
    }

    header {
        grid-column: 1/3;
        grid-row: 2;   
        background-position: top;
        height: 70vh;
        font-size: x-large;
        background-repeat: no-repeat;
    }

    header h1 {
        font-weight: 500;
    }

    header .border:hover {
        background-color: #2ac96f;
        opacity: 1;
    }

    header .icones {
        display: flex;
        padding: 0 75% 0 0%;
    }
    
    header .icones img:hover {
        cursor: pointer;
        opacity: 1;
    }

    header img {
        height: 80px;
        width: 80px;
    }
    
    main {
        grid-column: 1/3;
        grid-row: 3;
        display: flex;
        flex-direction: row;
        height: 35vh;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
    }

    main .icon_border {
        display: flex;
        border-radius: 50%;
        background-color: #2acd70;
        justify-content: space-around;
        width: 81px;
        height: 81px;
        margin: 0 11vw;
    }

    main img {
        /* display: flex;
        padding: 16px; */
        width: 42px;
        height: 42px;
        align-self: center;
    }

    main .engrenagem, .estrela, .planeta {
        margin: 0 45px;
    }
    
    nav{
        grid-column: 1 / 3;
        padding: 7px;
    }

    .rodape{
        grid-column: 1/3;
        grid-row: 9;
    }

    section{
        grid-column: 1/3;
        grid-row: 7;
    }

    section .logos:hover {
        background-color: #2ac96f;
        opacity: 1;
    }


}

@media(min-width: 1024px){
    
}


@media(min-width: 1440px){

}