body {
    margin: 0;
    display: grid;
    grid-template-areas: 'nav'
                         'header'
                         'main'
                         'aside'
                         'section'
                         'footer';
    grid-template-columns: 130vw;
}
header {
    background-image: url("../images/banner.png");
    background-size: cover;
    height: 200px;
    /* display: flex; */
}
header h1 {
    font-family: 'Pacifico', cursive;
    color:  #ffffff;
    padding: 0 25px;
}
header h1 span {
    color: ##2acd70;
}
header p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 0 25px;
}
.icones {
    display: flex;
    justify-content:flex-start;
    padding: 0 25px;
}
.icones div{
    margin: 0 5px;
}
nav {
    grid-area: nav;
    margin-top: 0;
    background-color: #2ac96f;
    height: 7px;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icones_menu img{
    display: flex;
    justify-content:flex-start;
    padding: 0 25px;
}
aside {
    grid-area: aside;
    background-color: #e3e3e3;
    height: 350px;
}
section {
    grid-area: section;
    flex-direction: column;
    display: flex;
    align-items: center;
}
section p{
    text-align: center;
    width: 300px;

}
footer {
    background-color: #e3e3e3;
    display: flex;
    grid-area: footer;
    justify-content: center;
}

footer p{
    padding: 10px;
}